{% extends 'base.html.twig' %}

{% block title %}Photo tag : {{ tag.name }}{% endblock %}

{% block body %}
<h2>{{ tag.name }}</h2>
{% set photos = tag.photos %}
{% include 'front/_photos.html.twig' with photos %}
{% endblock %}