{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body %}

    <h1>Presentation EN</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae sapiente accusantium aliquid inventore natus adipisci?</p>
    <p>Magni sunt minus natus delectus, optio, fugiat dolorum nam, laboriosam similique et ducimus ipsam saepe.</p>
    <p>Sunt molestias culpa doloremque aperiam maiores dolore temporibus. Asperiores officiis ipsa facere repellendus, minima odio.</p>
    <p>Modi ad consequatur magnam libero iste veritatis, iusto, impedit voluptatibus nulla aperiam distinctio pariatur inventore.</p>
{% endblock %}
